{% extends "base.html" %}
{% load static %}

{% block title %} 
Contact Us 
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center">Contact Information</h2>
  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">App Founder</h4>
          <p class="card-text">
            <strong>Name:</strong> Alan Zhainar<br>
            <strong>Email:</strong> <a href="mailto:alanzhainar05@gmail.com">alanzhainar05@gmail.com</a><br>
            <strong>Phone:</strong> +77027939248<br>
            <strong>Address:</strong> Almaty, Kazakhstan
          </p>
          <div class="mt-4">
            <h5>Social Media</h5>
            <p class="card-text">
              <a href="https://twitter.com/wcollectxr" target="_blank" class="btn btn-outline-primary btn-sm mr-2">Twitter</a>
              <a href="https://www.linkedin.com/in/alan-zhainar-383a85282/" target="_blank" class="btn btn-outline-primary btn-sm mr-2">LinkedIn</a>
              <a href="https://instagram.com/alanzh0" target="_blank" class="btn btn-outline-primary btn-sm">Instagram</a>
              <a href="https://github.com/al4nzh" target="_blank" class="btn btn-outline-primary btn-sm">Github</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}