{% extends "base.html" %}
{% block title %}Food Entries{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center">Food Entries</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Add Food Entry</button>
  </form>
  <h3 class="mt-5">Your Food Entries</h3>
  <ul class="list-group">
    {% for entry in food_entries %}
      <li class="list-group-item">
        {{ entry.date }}: {{ entry.name }} - {{ entry.calories }} calories, {{ entry.carbs }}g carbs, {{ entry.protein }}g protein, {{ entry.fats }}g fats
        <a href="{% url 'edit-food-entry' entry.pk %}" class="btn btn-link">Edit</a>
        <a href="{% url 'delete-food-entry' entry.pk %}" class="btn btn-link">Delete</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}